<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory</title>
    <link rel="stylesheet" href="../public/css/Memory.css">
</head>
<body>
    <nav>
        
        <h1>Memory Spiel</h4>
        <ul>
         
            <li><a href="/">Zurück</a></li>
            <li><a href="/login">Set Auswählen</a></li>
            <li><a href="/register">Sets bearbeiten</a></li>
     
        </ul>
    </nav>
    <div class="Container">
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
        <div class="karten"></div>
    </div>

<script src="../public/Js/Memory.js"></script>
</body>
</html>