<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="Start.css">
</head>


<body>
    
    <h1>Was möchtest du heute spielen?</h1>

    <div id="Spiele">

    <div id="Spiel1" class="SpieleButton">

        <h2 id="UeberschriftSpiel1">Memory</h2>

    </div>

    <div id="Spiel2" class="SpieleButton">

        <h2 id="UeberschriftSpiel2">Karteikarten</h2>

    </div>

    <div id="Spiel3" class="SpieleButton">

        <h2 id="UeberschriftSpiel3">Quiz</h2>

    </div>
</div>


    <footer>

        <p id="CreatedBy">Created by: Mahmoud Khalaf & Luis Bittner</p>

    </footer>

</body>

</html>