<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="../public/css/Start.css">
</head>


<body>
    
    <h1>Was möchtest du heute spielen?</h1>

    <div id="Spiele">





    <div id="Spiel1" class="SpieleButton">
        <a href="Memory.html">
    <div class="TexteDiv">
        <h2 id="UeberschriftSpiel1">Memory</h2>
        <P class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</P>
   
    </div>  

        <img src="../public/img/Memory.jpeg" alt="" width="250" height="250" class="foto">

    </a>
    </div>





    <div id="Spiel2" class="SpieleButton">

    <div class="TexteDiv">
        <h2 id="UeberschriftSpiel1">Karteikarten</h2>
        <P class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</P>
   
    </div>  

        <img src="../public/img/Memory.jpeg" alt="" width="250" height="250" class="foto">

        
    </div>




    <div id="Spiel3" class="SpieleButton">

        <div class="TexteDiv">
            <h2 id="UeberschriftSpiel1">Quiz</h2>
            <P class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</P>
       
        </div>  
    
            <img src="../public/img/Memory.jpeg" alt="" width="250" height="250" class="foto">
    
            
        </div>





</div>


    <footer>

        <p class="text">Created by: Mahmoud Khalaf & Luis Bittner</p>

    </footer>

</body>

</html>